<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head')%> 
<body>
    

    <%- include('../partials/header')%> 


<main>


    
    <br>
    <div class="contenedor-formularioCreate">
        <form action="get">
    
            <fieldset>
                <legend>Editar producto</legend>
               <div class="contenido-form">

                <div class="art-product">
                        <label for="">Nombre del producto</label>
                        <input type="text" name="name" placeholder="Ej: Cam Logitech " required>
                </div>


                <div class="art-product">

                        <label for="">Categoria</label>
                        <select>
                            <option>Pc/Notebook</option>
                            <option>Audio</option>
                            <option>Video</option>
                            <option>Sillas gamer</option>
                            <option>Periféricos/componentes</option>
                            <option>Otros</option>
                        </select>
               </div>
            
  
                <div class="art-product">
                    <label for="">Precio </label>
                    <input type="text" name="price" placeholder="Precio" required>
                </div>

                <div class="art-product">
                        <label for="">Código articulo</label>
                        <input type="text" name="price" placeholder="Ej: 23452" required>
                </div>

                <div class="textarea">
                        <label for="">Descripción</label>
                        <textarea name="description" rows="8" cols="25" placeholder="Descripción del producto:" required></textarea>
                </div>

                <div class="art-product">
                    <label>Imagen</label>
                    <input type="file"  class="img" name="image" placeholder="Imagen del artículo" required>
                </div>
               
                        <div class="btn-form">
                            
                            <input type="submit" value="Guardar cambios">
                    </div>
                    <div class="btn-form-eliminar">
                            
                        <input type="submit" value="Eliminar producto">
                </div>
                </div>
            </fieldset>
                </form>
                <!--Seguir editando-->
                <div class="editar">
                    <p><a href="/agregarProducto" class="seguir"><i class="fas fa-chevron-circle-left"></i>Crear nuevo producto</a></p>
                </div>
    </div>
</main>




    <%- include('../partials/footer')%>

</body>
</html>