<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href = "https: //fonts.googleapis.com/css2? family = Roboto: wght @ 300 & display = swap "rel =" stylesheet ">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
<link rel="stylesheet" href="css/productDetail.css">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>Detalle del producto</title>
    <link rel="icon" href="/images/android-chrome-512x512.ico">
</head>
<body>
    <header>

        <section class="barra1">

            <div class="contenedor-logo">
                <a href="/"><img src="/images/logo-174px.png" alt="logo que dice: Game Home"></a>

             </div>
            <div class="burger-menu">

                <i class="fas fa-bars"></i>
            </div>
            
            
            <!--Search-->

            <div class="barra-busqueda" action="#" method="GET">



                
              <!--<div class="input"><p></p></div>-->  

                <input type="text" placeholder="buscar" required class="input">


                <div class="submit"><i class="fas fa-search"></i>
                </div>
            </div>

            <div class="iconos">

               
              <a href="/registro"><i class="fas fa-sign-in-alt"></i></a>
              <a href="/login"><i class="far fa-user"></i></a> 
              <a href="/carritoDeCompras"><i class="fas fa-shopping-cart"></i></a> 

            </div>

            <!--Para mobile search and shopping cart-->

            <div class="carrito">
 
              <a href="/carritoDeCompras"><i class="fas fa-shopping-cart"></i></a>

            </div>
        </section>      



        <section class="barra2">

            <nav>
                
                    <ul>
                        <li><a href="#">PC/Notebook</a></li>
                        <li><a href="#">Armá tu pc</a></li>
                        <li><a href="#">Audio & Video</a></li>
                        <li><a href="#">Sillas Gamer</a></li>
                        <a href="/"><i class="fas fa-bell"></i></a>
                        <a href="/"><i class="fas fa-heart"></i></a>
                    </ul>
                    <!--<div class="iconos-barra2">
                    <i class="fas fa-bell"></i>
                    <i class="fas fa-heart"></i>
                    </div>-->
                
            </nav>

        </section>



    </header>



    <main>


        <section class="producto-principal">
            
            <img src="images/auriculares.jpg" alt="foto del producto">

            <article class="datos-producto">
                <h2>Auriculares HyperX Cloud Orbit S 7.1 3D Planar</h2>

                <p class="breve-descripcion">Auriculares marca Hyper X, en color negro/gris, cuenta con usb, microfono y conectividad Android por Mini Plug,PC,Nintendo Switch,PS4,Xbox One</p>
                <p class="precio-del-producto">$29.910</p>

                <div class="iconos-texto">


               <p> <i class="fas fa-shield-alt"></i>Garantia - 12 meses </p>
               <p>  <i class="fas fa-check"></i>Stock disponible</p>
                <p> <i class="fas fa-truck-moving"></i>Envios a todo el pais</p>
            </div>


                    <input type="button" name="" id="" value="Sumar al carrito">
            </article>
        </section>

        <section class="caracteristicas">
            <article>
                <h3>Caracteristicas generales</h3>
                <ul>
                    <li class="color1">Audio : 7.1</li>
                    <li class="color2">Colores : Negro,Gris</li>
                    <li class="color1">Conexion : Cableado</li>
                    <li class="color2">Con microfono : Si</li>
                    <li class="color1">Tipo de audio : Virtual</li>
                    <li class="color2">Tipo : Headset</li>
                </ul>

                

            </article>
        </section>


        <h3 class="ofertas-titulo">¡Ofertas!</h3>


        <section class="ofertas">

            
            

            <article>
                <img src="images/mouse.jpg" alt="foto mouse">

                <div class="nombre-precio-mas">

                <p class="nombre">Mouse Glorious Model D Minus - Matte Black</p>
                <p class="precio">$6.000</p>
                <p class="ver-mas"><a href="#">Ver más</a></p>
            </div>

            </article>

            <article>
                <img src="images/teclado.jpg" alt="foto teclado">

                <div class="nombre-precio-mas">

                <p class="nombre">Teclado Mecanico Logitech G915 Lightspeed RGB</p>
                <p class="precio">$24.590</p>
                <p  class="ver-mas"><a href="#">Ver más</a></p>

                    </div>

            </article>

            <article>
                <img src="images/silla-product.jpg" alt="foto auriculares">

                <div class="nombre-precio-mas">


                <p class="nombre">Silla Gamer HHGears SM-115 Negro Hasta 90kg r</p>
                <p class="precio">$20.000</p>
                <p  class="ver-mas"><a href="#">Ver más</a></p>

                    </div>

            </article>

            <article>
                <img src="images/monitor.jpg" alt="foto monitor">

                <div class="nombre-precio-mas">


                <p class="nombre">Monitor LG 20" 20MK400H-B VGA HDMI</p>
                <p class="precio">$21.950</p>
                <p  class="ver-mas"><a href="#">Ver más</a></p>

                 </div> 

            </article>
        </section>


        <section class="suscribirse">

            <div class="enterate-novedades">
                <h3>¡Enterate de todas las novedades!</h3>
                <p>Recibí nuestras promociones exclusivas en tu correo.</p>
            </div>
    
            <div class="correo-suscripcion">
    
                <input type="email" placeholder="Ingresa tu email" name="correo">
                <button type="submit" value="suscripcion">SUSCRIBIRME</button>
            </div>
    
        </section>
    


    </main>


    <footer>


        <section class="seccion1">
    
            <img src="/images/logo-174px.png" alt="logo">
    
            <div class="productos">
    
        <h5>Productos</h5>
           <p>Computadoras</p>
           <p>Auriculares</p>
           <p>Sillas</p>
           <p>Teclados</p>
    
        </div>
    
    
        <div class="contacto">
    
            <h5>Contacto</h5>
            <p>gamehome@gmail.com</p>
            <p>113344556</p>
    
        </div>
    
        <div class="contacto">
    
            <h5>Mas información</h5>
            <p>Nosotros</p>
            <p>Preguntas frecuentes</p>
            <p>Ayuda</p>
            
    
        </div>
    
    
    
    
            <div class="redes">
                <i class="fab fa-instagram"></i>
                <i class="fab fa-facebook-square"></i>
                <i class="fab fa-twitch"></i>
            </div>
    
    
    
    
        </section>
    
        <section class="seccion2">
            <p>Copyright © 2021 - GameHome </p>
            <p>Todos los derechos reservados</p>
        </section>
    
    
       </footer>

</body>
</html>