<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/login.css">
    <title>Login</title>
    <link rel="icon" href="/images/android-chrome-512x512.ico">
</head>
<body>
    <header>

        <section class="barra1">

            <div class="contenedor-logo">
                <a href="/"><img src="/images/logo-174px.png" alt="logo que dice: Game Home"></a>

             </div>
            <div class="burger-menu">

                <i class="fas fa-bars"></i>
            </div>
            
            
            <!--Search-->

            <div class="barra-busqueda" action="#" method="GET">



                
              <!--<div class="input"><p></p></div>-->  

                <input type="text" placeholder="buscar" required class="input">


                <div class="submit"><i class="fas fa-search"></i>
                </div>
            </div>

            <div class="iconos">

               
              <a href="/registro"><i class="fas fa-sign-in-alt"></i></a>
              <a href="/login"><i class="far fa-user"></i></a> 
              <a href="/carritoDeCompras"><i class="fas fa-shopping-cart"></i></a> 

            </div>

            <!--Para mobile search and shopping cart-->

            <div class="carrito">
 
              <a href="/carritoDeCompras"><i class="fas fa-shopping-cart"></i></a>

            </div>
        </section>      



        <section class="barra2">

            <nav>
                
                    <ul>
                        <li><a href="#">PC/Noteboook</a></li>
                        <li><a href="#">Arma tu pc</a></li>
                        <li><a href="#">Audio & Video</a></li>
                        <li><a href="#">Silla Gamer</a></li>
                        <a href="/"><i class="fas fa-bell"></i></a>
                        <a href="/"><i class="fas fa-heart"></i></a>
                    </ul>
                    <!--<div class="iconos-barra2">
                    <i class="fas fa-bell"></i>
                    <i class="fas fa-heart"></i>
                    </div>-->
                
            </nav>

        </section>



    


    </header>

   <main>

   <!--FORMULARIO DE REGISTRO-->
    <div class="container">
        <div class="login-container">
            

        
            <div class="login">
                <h2>Iniciar con redes</h2>
                <div class="login-items">

                    <button class="gg"><i class="fab fa-google"></i> Iniciar con Google</button>

                    <button class="fb"><i class="fab fa-facebook-f"></i> Iniciar con Facebook</button>

                    <button class="tw"><i class="fab fa-twitter"></i> Iniciar con Twitter</button>

                    <button class="ig"><i class="fas fa-camera"></i> Iniciar con Instagram</button>

                </div>

            </div>
            <div class="register">
                <h2>Iniciar sesión</h2>
                <form action="POST" id="form">
                    <input type="text" name="nombre" class="nombre" placeholder="Nombre de usuario o correo" required>

                    

                    <input type="password" name="contraseña" class="contraseña" placeholder="Contraseña" required>

                    


                    <input type="submit" class="submit" value="INICIAR SESION">



                    <p class="link"><a href="/">¿Olvidaste la contraseña?</a></p><br>
                    <div class="registrate"><p class="link">¿No tienes cuenta? <a href="/registro">¡Registrate!</a></p></div>

                </form>    
            </div>

        </div>
    </div>



   </main>

   <footer>


    <section class="seccion1">

        <a href="/"><img src="/images/logo-174px.png" alt="logo que dice: Game Home"></a>

        <div class="productos">

    <h5>Productos</h5>
       <p>Computadoras</p>
       <p>Auriculares</p>
       <p>Sillas</p>
       <p>Teclados</p>

    </div>


    <div class="contacto">

        <h5>Contacto</h5>
        <p>gamehome@gmail.com</p>
        <p>113344556</p>

    </div>

    <div class="contacto">

        <h5>Mas información</h5>
        <p>Nosotros</p>
        <p>Preguntas frecuentes</p>
        <p>Ayuda</p>
        

    </div>




        <div class="redes">
            <i class="fab fa-instagram"></i>
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-twitch"></i>
        </div>




    </section>

    <section class="seccion2">
        <p>Copyright © 2021 - GameHome </p>
        <p>Todos los derechos reservados</p>
    </section>


   </footer>


</body>
</html>