<h3 class="titulo-ofertas">¡Ofertas!</h3>
<section class="ofertas">

    <article>
        <img src="images/mouse.jpg" alt="foto mouse">

        <div class="nombre-precio-mas">

        <p class="nombre">Mouse Glorious Model D Minus - Matte Black</p>
        <p class="precio">$6.000</p>
        <p class="ver-mas"><a href="#">Ver más</a></p>
    </div>

    </article>

    <article>

        <img src="images/teclado.jpg" alt="foto teclado">

            <div class="nombre-precio-mas">

                <p class="nombre">Teclado Mecanico Logitech G915 Lightspeed RGB</p>
                <p class="precio">$24.590</p>
                <p class="ver-mas"><a href="#">Ver más</a></p>

            </div>

    </article>

    <article>
        <img src="images/silla-product.jpg" alt="foto silla gamer">

            <div class="nombre-precio-mas">


                <p class="nombre">Silla Gamer HHGears SM-115 Negro Hasta 90kg r</p>
                <p class="precio">$20.000</p>
                <p class="ver-mas"><a href="#">Ver más</a></p>

            </div>

    </article>

    <article>
        <img src="images/monitor.jpg" alt="foto monitor">

            <div class="nombre-precio-mas">

                <p class="nombre">Monitor LG 20" 20MK400H-B VGA HDMI</p>
                <p class="precio">$21.950</p>
                <p class="ver-mas"><a href="#">Ver más</a></p>

            </div> 

    </article>

</section>