<!DOCTYPE html>
<html lang="es">

    <%- include('../partials/head')%> 

<body>
  
    <%- include('../partials/header')%> 
   <main>

   

    <img src="/images/Carrousel3.png" alt="imagen gamer" class="imagen-gamer">

   





    <section class="categorias-destacado">


     <div class="destacado02"><a href="/"><img src="/images/arma-tu-pc.png" alt="seccion de armado de pc" class="destacado"></a></div>


      

     <div class="categorias02">

        <a href="/"><img src="/images/audio-y-video.png" alt="" class="categoria-uno"></a>

            <a href="/"><img src="/images/pc-y-notebook.png" alt="" class="categoria-dos"></a>

                <a href="/"><img src="/images/sillas.png" alt="" class="categoria-tres"></a>
</div>

    </section>


    <br><br><br>
    <h3 class="titulo">¡Lo más destacado!</h3>

<section class="que-estas-buscando">

   <!--Estos no se van a ver en la versión MOBILE-->

    <article class="mobile">
        <img src="images/mouse.jpg" alt="foto mouse">

        <div class="nombre-precio-mas">

        <p class="nombre">Mouse Glorious Model D Minus - Matte Black</p>
        <p class="precio">$6.000</p>
        <p class="ver-mas"><a href="#">Ver mas</a></p>
    </div>

    </article>

    <article class="mobile">
        <img src="images/teclado.jpg" alt="foto teclado">

        <div class="nombre-precio-mas">

        <p class="nombre">Teclado Mecanico Logitech G915 Lightspeed RGB</p>
        <p class="precio">$24.590</p>
        <p class="ver-mas"><a href="#">Ver más</a></p>

            </div>

    </article>

    <article class="mobile">
        <img src="images/silla-product.jpg" alt="foto auriculares">

        <div class="nombre-precio-mas">


        <p class="nombre">Silla Gamer HHGears SM-115 Negro Hasta 90kg r</p>
        <p class="precio">$20.000</p>
        <p class="ver-mas"><a href="#">Ver más</a></p>

            </div>

    </article>
    <!--ACÁ FINALIZA ESTE DETALLE DE MOBILE-->

    <article>
        <img src="images/monitor.jpg" alt="foto monitor">

        <div class="nombre-precio-mas">


        <p class="nombre">Monitor LG 20" 20MK400H-B VGA HDMI</p>
        <p class="precio">$21.950</p>
        <p class="ver-mas"><a href="#">Ver más</a></p>

         </div> 

    </article>



    <article>
        <img src="images/mouse.jpg" alt="foto mouse">

        <div class="nombre-precio-mas">

        <p class="nombre">Mouse Glorious Model D Minus - Matte Black</p>
        <p class="precio">$6.000</p>
        <p class="ver-mas"><a href="#">Ver más</a></p>
    </div>

    </article>

    <article>
        <img src="images/teclado.jpg" alt="foto teclado">

        <div class="nombre-precio-mas">

        <p class="nombre">Teclado Mecanico Logitech G915 Lightspeed RGB</p>
        <p class="precio">$24.590</p>
        <p class="ver-mas"><a href="#">Ver más</a></p>

            </div>

    </article>

    <article>
        <img src="images/silla-product.jpg" alt="foto silla gamer">

        <div class="nombre-precio-mas">


        <p class="nombre">Silla Gamer HHGears SM-115 Negro Hasta 90kg r</p>
        <p class="precio">$20.000</p>
        <p class="ver-mas"><a href="#">Ver más</a></p>

            </div>

    </article>

    <article>
        <img src="/images/monitor.jpg" alt="foto monitor">

        <div class="nombre-precio-mas">


        <p class="nombre">Monitor LG 20" 20MK400H-B VGA HDMI</p>
        <p class="precio">$21.950</p>
        <p class="ver-mas"><a href="#">Ver más</a></p>

         </div> 

    </article>





</section>





<br><br><br><br><br><br>
<%- include('../partials/ofertas')%> 



<section class="banners">


    <img src="/images/Carrousel2.png" alt="envio a todo el pais">
    <img src="/images/Carrousel5.png" alt="portada de un video juego">



</section>



    <section class="suscribirse">

        <div class="enterate-novedades">
            <h3>¡Enterate de todas las novedades!</h3>
            <p>Recibí nuestras promociones exclusivas en tu correo.</p>
        </div>

        <div class="correo-suscripcion">

            <input type="email" placeholder="Ingresa tu email" name="correo">
            <button type="submit" value="suscripcion">SUSCRIBIRME</button>
        </div>

    </section>


   </main>

   <%- include('../partials/footer')%>


</body>
</html>